@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
    font-family: 'Titan One', sans-serif;
    background-color: #F5F5F5;
}

#seleccionar-futbolista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #363062;
    font-size: 32px;
    
}

.subtitulo {
    display: flex;
    color: #4D4C7D;

}


.tarjetas {
    display: flex;
    gap: 10px;

}

.tarjeta-mokepon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 113px;
    background: #F99417;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid;
    border-radius: 20px;
}   

.tarjeta-mokepon img {
    width: 60px;
}

input {
    display: none;
    width: 25px;
    height: 25px;
    background-color: blue;
    border: 2px solid;
}