@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Titan+One&display=swap');

body {
    font-family: 'Titan One', sans-serif;
    background-color: #F5F5F5;
    background-image: url(./fotos/futbol.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

#seleccionar-futbolista, #seleccionar-arquero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #363062;
    font-size: 32px;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 35px;
    display: flex;
    color: #4D4C7D;
    background-color: #F5F5F5;
    border-radius: 20px;
}


.tarjetas, .botones-ataques {
    display: flex;
    gap: 10px;

}

.tarjeta-mokepon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 113px;
    background: #F99417;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px;
    border: 3px solid;
    border-radius: 20px;
}   

.tarjeta-mokepon img {
    width: 60px;
}

input {
    display: none;
}

input:checked + label {
    background-color: red;
    border: 3.8px solid;

}

#boton-futbolista, #boton-arquero {
    color: black;
    width: 120px;
    height: 25px;
    border-radius: 20px;
    background-color: #8887eb;
    font-family: 'Titan One', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 10px;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

#boton-fuego {
    color: black;
    width: 85px;
    height: 25px;
    background-color: #8887eb;
    font-family: 'Titan One', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 10px;
}

#boton-Hielo {
    color: black;
    width: 85px;
    height: 25px;
    background-color: #8887eb;
    font-family: 'Titan One', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 10px;
}

#boton-agua {
    color: black;
    width: 85px;
    height: 25px;
    background-color: #8887eb;
    font-family: 'Titan One', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 10px;
}

#mensajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    background-color: yellow;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}

#mensajes p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#boton-reiniciar {
    border: none;
    color: black;
    width: 85px;
    height: 25px;
    background-color: #8887eb;
    font-family: 'Titan One', sans-serif;
}

.ataques {
    display: grid;
    grid-template-columns: 150px 150px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-del-jugador, .ataques-del-enemigo {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 620px) {
    .tarjetas, .botones-ataques{
        flex-direction: column;
    }
}
